html
  head
    title Gyan Dance Academy
    block scripts
    block style 

  body

    nav#navbar
        
        ul 
            
            img(src="/static/img/logo.png")
            | GTA
            li #[a(href="/") Home ]
            li #[a(href="/") About Us ]
            li #[a(href="/") Class Info.]
            li #[a(href="/") Services]
            li #[a(href="/") Contacts ]

    block content
    footer#footer 
        |   Copyright © 2019 GyanDanceAcademy.com |   All rights reserved       