//- index.pug
doctype html
html
  head
    title Gyan Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        
        ul 
            
            img(src="/static/img/logo.png")
            | GDA
            li #[a(href="/home") Home ]
            li #[a(href="/") About Us ]
            li #[a(href="/") Class Info.]
            li #[a(href="/") Services]
            li #[a(href="/contacts") Contacts ]
           
            
    section#introSection 
        div  Welcome to Gyan Dance Academy 
        div.small  Dance Dil Se

    section#missionSection  
       h2 Our mission
       div.row
           div.card 
              h3 Dance Perfection
              div.card-box
                    div.card-img
                        img(src="/static/img/d1.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsa unde optio eum nostrum iste eius saepe iusto mollitia repudiandae.
           div.card 
              h3 All types of indian dance
              div.card-box
                    div.card-img
                        img(src="/static/img/d2.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsa unde optio eum nostrum iste eius saepe iusto mollitia repudiandae.
           div.card 
              h3 Expert Teaching for Grpou Dance
              div.card-box
                    div.card-img
                        img(src="/static/img/d3.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsa unde optio eum nostrum iste eius saepe iusto mollitia repudiandae.

    section#sponsorsSection  
       h2 Our Sponsors
       div#sponsor
            img(src="/static/img/s1.png", alt="sponser image" Class="spimage")
            img(src="/static/img/s3.png", alt="sponser image" Class="spimage")
            img(src="/static/img/s4.png", alt="sponser image" Class="spimage")
            img(src="/static/img/s2.png", alt="sponser image" Class="spimage")





    footer#footer 
        |   Copyright © 2019 GyanDanceAcademy.com | All rights reserved       

    script
      include ../static/index.js