@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*{
    margin: 0px;
    box-sizing: border-box; 
    padding:0px;
}
#navbar{
    padding: 13px 14px;
    background-color: #c9a8ae;
    position: sticky;
    top: 0;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
   align-items: center;
   font-family: 'Supermercado One', cursive;

}
#navbar ul img{
    height: 50px;
    width: 50px;
    margin-top: -8px;
}


#navbar li{
      list-style: none;
}

#navbar li a{
       text-decoration: none;
       color: white;
       font-size: 1.6rem;
       padding: 13px 26px;
       font-family: 'Supermercado One', cursive;
       font-weight: bold;
}
#navbar li a:hover{
    color: rgb(255, 232, 232);
}
    

#introSection {
    background: center / cover no-repeat  url("/static/bg.jpg");
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6db590;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Comforter', cursive;
    height: 400px;
    background-color: rgb(189, 101, 101);
}

#introSection div.small{
    font-size: 35px;
    padding: 4px;
}

#missionSection{
    height: 400px;
    background-color: #ffdada87
    
}
#missionSection h2{
    padding-top: 17px;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.card{
    
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 15px 40px;
    padding: 5px;
    height: 300px;
    text-align: center;
}
.card h3{
        text-decoration: underline;
        font-family: 'Supermercado One', cursive;
}
.card-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

}
.card-img{
    height: 13rem;
    width: 18rem;
}

.card-img img{
    height: inherit;
}


#sponsorsSection{
    height: 275px;
background-color: rgb(190, 162, 162);
}
#sponsorsSection h2{
    padding-top: 17px;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#sponsor{
    
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}
.spimage{
    height:80%;
    max-width: 1000px;
    padding :10px;
}

#footer{
    height: 50px;
    background-color: rgb(26, 21, 21);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Supermercado One', cursive;
    position: sticky;
    bottom: 0px;
}
